<h1>All Our Photos</h1>

<% @photos.each do |photo| %>
  <div class="booyah-box col-10 offset-1">
    <h1><%= photo.location %></h1><br />
    <i><%= photo.date  %></i>
    <i><%= photo.caption %><br /></i><br />

    <div class="col-12 col-sm-4" style="padding-top:30px;">
      <%= image_tag( photo.picture.url, :class => "style_image") %>
    </div>
  </div>

<% end %>